<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Все имена</title>
</head>
<body>
    <h1>Все имена:</h1>
    {% if names1|length > 0 %}
        {% for el in names1 %}
            {{ el.name }}</br>
        {% endfor %}
    {% else %}
    <p>На сайте пока нету имён.</p>
    {% endif %}</br>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
             <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
        </nav>
</body>
</html>